@define-color bg #070707;
@define-color fg #B4B3B3;
@define-color gray1 #fcaf7f;
@define-color gray2 #5f5d57;
@define-color gray3 #ae6685;
@define-color gray4 #ffd6a7;
@define-color gray5 #ec8b9d;
@define-color fg_bright #fff1f0;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}