@define-color bg #090909;
@define-color fg #d7d7d7;
@define-color gray1 #c3c3c3;
@define-color gray2 #62605a;
@define-color gray3 #808080;
@define-color gray4 #f2f2f2;
@define-color gray5 #acacac;
@define-color fg_bright #fcfcfc;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}