@define-color bg #020003;
@define-color fg #9BF5F8;
@define-color gray1 #ffac74;
@define-color gray2 #69656a;
@define-color gray3 #6797ff;
@define-color gray4 #ec773e;
@define-color gray5 #d400e6;
@define-color fg_bright #71ffff;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}