themes {
    current {
        text_unselected {
            base 210 167 180
            background 92 95 100
            emphasis_0 176 159 179
            emphasis_1 221 239 255
            emphasis_2 190 220 255
            emphasis_3 204 183 232
        }
        text_selected {
            base 210 167 180
            background 92 95 100
            emphasis_0 176 159 179
            emphasis_1 221 239 255
            emphasis_2 190 220 255
            emphasis_3 204 183 232
        }
        ribbon_selected {
            base 92 95 100
            background 190 220 255
            emphasis_0 187 161 192
            emphasis_1 176 159 179
            emphasis_2 204 183 232
            emphasis_3 148 144 183
        }
        ribbon_unselected {
            base 92 95 100
            background 210 167 180
            emphasis_0 187 161 192
            emphasis_1 210 167 180
            emphasis_2 148 144 183
            emphasis_3 204 183 232
        }
        table_title {
            base 190 220 255
            background 0
            emphasis_0 176 159 179
            emphasis_1 221 239 255
            emphasis_2 190 220 255
            emphasis_3 204 183 232
        }
        table_cell_selected {
            base 210 167 180
            background 92 95 100
            emphasis_0 176 159 179
            emphasis_1 221 239 255
            emphasis_2 190 220 255
            emphasis_3 204 183 232
        }
        table_cell_unselected {
            base 210 167 180
            background 92 95 100
            emphasis_0 176 159 179
            emphasis_1 221 239 255
            emphasis_2 190 220 255
            emphasis_3 204 183 232
        }
        list_selected {
            base 210 167 180
            background 92 95 100
            emphasis_0 176 159 179
            emphasis_1 221 239 255
            emphasis_2 190 220 255
            emphasis_3 204 183 232
        }
        list_unselected {
            base 210 167 180
            background 92 95 100
            emphasis_0 176 159 179
            emphasis_1 221 239 255
            emphasis_2 190 220 255
            emphasis_3 204 183 232
        }
        frame_selected {
            base 190 220 255
            background 0
            emphasis_0 176 159 179
            emphasis_1 221 239 255
            emphasis_2 204 183 232
            emphasis_3 0
        }
        frame_highlight {
            base 176 159 179
            background 0
            emphasis_0 204 183 232
            emphasis_1 176 159 179
            emphasis_2 176 159 179
            emphasis_3 176 159 179
        }
        exit_code_success {
            base 190 220 255
            background 0
            emphasis_0 221 239 255
            emphasis_1 92 95 100
            emphasis_2 204 183 232
            emphasis_3 148 144 183
        }
        exit_code_error {
            base 187 161 192
            background 0
            emphasis_0 255 226 254
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 204 183 232
            player_2 148 144 183
            player_3 0
            player_4 255 226 254
            player_5 221 239 255
            player_6 0
            player_7 187 161 192
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
