themes {
    current {
        text_unselected {
            base 222 241 244
            background 107 106 99
            emphasis_0 191 133 86
            emphasis_1 119 220 255
            emphasis_2 221 155 60
            emphasis_3 147 151 253
        }
        text_selected {
            base 222 241 244
            background 107 106 99
            emphasis_0 191 133 86
            emphasis_1 119 220 255
            emphasis_2 221 155 60
            emphasis_3 147 151 253
        }
        ribbon_selected {
            base 107 106 99
            background 221 155 60
            emphasis_0 224 146 73
            emphasis_1 191 133 86
            emphasis_2 147 151 253
            emphasis_3 136 158 255
        }
        ribbon_unselected {
            base 107 106 99
            background 222 241 244
            emphasis_0 224 146 73
            emphasis_1 222 241 244
            emphasis_2 136 158 255
            emphasis_3 147 151 253
        }
        table_title {
            base 221 155 60
            background 0
            emphasis_0 191 133 86
            emphasis_1 119 220 255
            emphasis_2 221 155 60
            emphasis_3 147 151 253
        }
        table_cell_selected {
            base 222 241 244
            background 107 106 99
            emphasis_0 191 133 86
            emphasis_1 119 220 255
            emphasis_2 221 155 60
            emphasis_3 147 151 253
        }
        table_cell_unselected {
            base 222 241 244
            background 107 106 99
            emphasis_0 191 133 86
            emphasis_1 119 220 255
            emphasis_2 221 155 60
            emphasis_3 147 151 253
        }
        list_selected {
            base 222 241 244
            background 107 106 99
            emphasis_0 191 133 86
            emphasis_1 119 220 255
            emphasis_2 221 155 60
            emphasis_3 147 151 253
        }
        list_unselected {
            base 222 241 244
            background 107 106 99
            emphasis_0 191 133 86
            emphasis_1 119 220 255
            emphasis_2 221 155 60
            emphasis_3 147 151 253
        }
        frame_selected {
            base 221 155 60
            background 0
            emphasis_0 191 133 86
            emphasis_1 119 220 255
            emphasis_2 147 151 253
            emphasis_3 0
        }
        frame_highlight {
            base 191 133 86
            background 0
            emphasis_0 147 151 253
            emphasis_1 191 133 86
            emphasis_2 191 133 86
            emphasis_3 191 133 86
        }
        exit_code_success {
            base 221 155 60
            background 0
            emphasis_0 119 220 255
            emphasis_1 107 106 99
            emphasis_2 147 151 253
            emphasis_3 136 158 255
        }
        exit_code_error {
            base 224 146 73
            background 0
            emphasis_0 198 150 71
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 147 151 253
            player_2 136 158 255
            player_3 0
            player_4 198 150 71
            player_5 119 220 255
            player_6 0
            player_7 224 146 73
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
