/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #010025;
    --color01: #af80b1;
    --color02: #97c0ff;
    --color03: #ffcbff;
    --color04: #8071b3;
    --color05: #bf93e2;
    --color06: #bdcfff;
    --color07: #E1E5FC;
    --color08: #595b61;
    --color09: #cc90cf;
    --color10: #a1d6ff;
    --color11: #ffc4ff;
    --color12: #9683d4;
    --color13: #dba3ff;
    --color14: #cee3ff;
    --color15: #f7f3fe;
}
