@define-color bg #0c0113;
@define-color fg #D2E3E9;
@define-color gray1 #7cc481;
@define-color gray2 #6b676d;
@define-color gray3 #5979c3;
@define-color gray4 #8e861d;
@define-color gray5 #af59bf;
@define-color fg_bright #c0f5ff;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}